@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Source+Code+Pro:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: url(./img/bg.jpg);
    background-position: cover;
    background-size: 100%;
    /* background-repeat: no-repeat; */
    min-height: 100vh;    

    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation{
    cursor: pointer;
    position: relative;
    height: 70px;
    width: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 60px;

    transition-delay:0.5s ;
    transition: .5s ease-in;
}
.navigation.active{
    width: 600px;
}
.navigation.active .toggle-menu{
    background-color: #ec418b;
    transition-delay: 0s;
    width: 40px;
    height: 40px;
    transform: translateY(70px);
}
.navigation .toggle-menu{
    position: absolute;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 50%;

    transition: .1s ease-in;
}
.toggle-menu::before{
    position: absolute;
    content: '';
    height: 3px;
    width: 40px;
    top:40px;
    border-radius: 20px;
    background-color: black;
    transition: 0.5s;
}
.toggle-menu::after{
    position: absolute;
    content: '';
    height: 3px;
    width: 40px;
    top: 25px;
    border-radius: 20px;
    background-color: black;
    transition: 0.5s;
}
.navigation.active .toggle-menu::before{
    background: #fff;
    transform: translateY(-20px) rotate(45deg) scale(0.6);
}
.navigation.active .toggle-menu::after{
    background: #fff;
    transform: translateY(-5px) rotate(315deg)  scale(0.6);
}

.navigation li{
    text-transform: uppercase;
    transform: scale(0);
    font-size: 20px;
    margin-left: 40px;
    list-style-type: none;
}
.navigation a{
    padding: 5px 5px;
    text-decoration: none;
    transition: 0.2s ease-in;
}
.navigation a:hover{
    color: #fff;
    background: #ec418b;
    border-radius: 30px;
}
.navigation.active li{
    transform: scale(1);
}
@media (max-width: 768px){
    .navigation.active .toggle-menu{
        margin-bottom: 65px;
    }
    .navigation.active{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        height: 500px;
        width: 150px;
    }
    .navigation li{
        text-transform: uppercase;
        transform: scale(0);
        font-size: 25px;
        margin-right: 40px;
        list-style-type: none;
    }
}
@media (max-width: 480px){
    .navigation.active .toggle-menu{
        margin-bottom: 65px;
    }
    .navigation.active{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        height: 500px;
        width: 150px;
    }
    .navigation li{
        text-transform: uppercase;
        transform: scale(0);
        font-size: 25px;
        margin-right: 40px;
        list-style-type: none;
    }

}
